---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

$base-font-family:    'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:      17px;
$base-font-weight:    400;
$small-font-size:     $base-font-size * 0.825;
$base-line-height:    1.5;

$header-font-family:  'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-weight:  400;
$header-line-height:  1.5;

/* $header-font-family: 'Chronicle Deck A', 'Chronicle Deck B', "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-weight: 800;
$header-line-height: 1.5; */

$spacing-unit:        32px;

$header-color:        rgba(0, 0, 0, 0.70);
$text-color:          rgba(0, 0, 0, 0.55);
$background-color:    rgba(255, 255, 255, 1.0);
$brand-color:         rgba(9, 164, 179, 1.0);
$brand-color-hover:   rgba(9, 164, 179, 0.9);

$grey-color:          rgba(0, 0, 0, 0.30);
$grey-color-light:    rgba(0, 0, 0, 0.09);
$grey-color-lighter:  rgba(0, 0, 0, 0.03);
$grey-color-dark:     rgba(0, 0, 0, 0.40);

$border-clear:        1px solid rgba(0, 0, 0, 0);
$border-dark:         1px solid $grey-color-dark;
$border-dashed:       1px dashed $grey-color-light;
$border-solid:        1px solid $grey-color-light;

$on-palm:             600px;
$on-laptop:           1000px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
