---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

$base-font-family: 'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.825;
$base-line-height: 1.5;

$header-font-family: 'Chronicle Deck A', 'Chronicle Deck B', "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-weight: 800;
$header-line-height: 1.5;

$spacing-unit:     30px;

$header-color:     #4d4d4d;
$text-color:       #7d7d7d;
$background-color: #fff;
$brand-color:      #20BFD4;

$grey-color:       #b3b3b3;
$grey-color-light: lighten($grey-color, 18%);
$grey-color-lighter: lighten($grey-color, 28%);
$grey-color-dark:  darken($grey-color, 10%);

$on-palm:          600px;
$on-laptop:        1000px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
