<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6909452/670364/css/fonts.css" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon/favicon-16x16.png" sizes="16x16">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script>
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-451264-Z');
    </script>
</head>
