/****************************************************************************
 * Site header & footer
 */
header {
	.row {
		width: 80%;
		line-height: 4.5em;
	}
	a, p {
		display: block;
		float: left;
	}
	a {
		color: $text-color;
		text-decoration: none;
		transition: color 0.2s ease;
		&:visited {
			color: $text-color;
		}
		&:hover {
			color: $brand-color;
		}
		&.active {
			color: $text-color;
			border-top: $brand-color;
		}
		&.logo {
			color: $text-color;
		}
	}

	p {
		float: right;
		margin: 0;
	}
	.site_nav {
		display: block;
		float: left;
		width: 100%;
		line-height: 2.5em;
		border-top: $border-solid;
		ul {
			margin: 0;
			overflow: visible;
		}
		li {
			list-style: none;
			display: inline-block;
			margin-top: -1px;
			a {
				border-top: $border-clear;
				margin-right: 1.25em;
				padding: 0.625em 0;
				.icon {
    			opacity: 0.40;
  				transition: opacity 0.2s ease-out;
				}
			}
			a:hover .icon {
				opacity: 0.5 !important;
			}
		}
		.f--r a {
			margin-right: 0;
			margin-left: 1em;
		}
		img {
			top: -2px;
			position: relative;
		}
		.dribbble img {
			top: -1px;
			left: -1px;
		}
	}
}

.alert {
	background: $grey-color-lighter;
	border-top: $border-solid;
	border-bottom: $border-solid;
	font-size: $small-font-size;
	padding: $spacing-unit / 2 0 $spacing-unit / 1.75;
	transition: all 0.3s ease-in-out;
	margin-top: -57px;
	display: none;
	p {
		float: left;
		line-height: 1.5;
		margin: 0;
		&:last-of-type {
			float: right;
		}
		&:first-of-type {
			float: left;
		}
	}
	a {
		display: inline;
		float: initial;
		color: $brand-color;
		&:hover {
			color: $brand-color-hover;
		}
		&:visited {
			color: $brand-color;
		}
	}
}

.slide-in {
	display: block;
	margin-top: 0px;
}

footer {
	font-size: $small-font-size;
	margin-top: $spacing-unit*2;
	.row {
		width: 80%;
	}
	p {
		border-top: $border-solid;
		margin: 0;
		padding: $spacing-unit 0 $spacing-unit;
		small {
			float: right;
			img {
				width: 20px;
				margin-top: - 1px;
			}
		}
	}
}

@include media-query($on-palm) {
	header {
		.row {
			@include calc(width, "100% - (#{$spacing-unit})");
		}
	}

	.alert {
		width: 100%;
	}

	footer {
		.row {
			@include calc(width, "100% - (#{$spacing-unit})");
		}
	}
}


/****************************************************************************
 * Page Content (Generic)
 */

section {

	h1 {
		font-family: $header-font-family;
		font-weight: $header-font-weight;
		font-style: normal;
		font-size: 2.8em;
		line-height: 1.1;
		margin: $spacing-unit/2 auto $spacing-unit;
		padding-top: $spacing-unit;
		text-align: center;
		width: 80%;
		a {
			text-decoration: underline;
		}
	}

	h2, h3, h4, h5, h6 {
		text-align: left;
	}

	h2, h3, h4, h5, h6, p, ul {
		width: 66%;
		margin-left: auto;
		margin-right: auto;
		a {
			text-decoration: underline;
		}
	}

	h2 {
		padding-top: $spacing-unit;
	}

	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	figure {
		width: 100%;
		margin-top: $spacing-unit;
		padding: $spacing-unit 0;
		a {
			display: block;
			width: 90%;
			margin: 0 auto;
			img {
				max-width: 100%;
			}
		}
		img {
			max-width: 90%;
			margin: 0 auto $spacing-unit;
			&.wallpaper {
				display: inline-block;
				max-width: 33%;
			}
		}
		video {
			display: block;
			margin: 0 auto $spacing-unit;
			border: $border-solid;
			border-radius: 6px;
		}
		figcaption {
			a {
				display: inline;
				width: 100%;
			}
			p.design {
				width: 90%;
				margin: 0 auto;
				a {
					color: $brand-color;
					font-weight: $header-font-weight;
				}
			}
		}
		p {
			width: 66%;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: $spacing-unit / 4;
		}
		&.sketch {
			border-top: $border-dashed;
			margin-top: $spacing-unit * 2;
			figcaption {
				border-top: $border-dashed;
				margin-top: $spacing-unit;
				padding-top: $spacing-unit;
			}
		}
		&.linked {
			padding: 0;
		}
		&:first-of-type {
			margin-top: $spacing-unit / 2;
		}
		&.video {
			margin-top: $spacing-unit * 2;
		}
	}

	.feature {
		width: 90%;
		margin: 0 auto $spacing-unit/2 auto;
	}

	.pull-left {
		float: left;
		width: 40%;
		margin: 0.5% $spacing-unit 0 0;
	}

}

article.projects {
	.title {
		width: 30%;
		margin: $spacing-unit 5% $spacing-unit 5%;
		float: left;
	}
	.description {
		width: 55%;
		margin: $spacing-unit 5% $spacing-unit 0;
		float: left;
	}
	p {
		margin: $spacing-unit/4 0;
		width: 100%;
	}
	figure {
		display: block;
		@extend %clearfix;
		figcaption ul {
			border-top: $border-solid;
			margin: $spacing-unit*1.25 0 0;
			padding: $spacing-unit/4 0 0;
			width: 100%;
			li {
				margin: $spacing-unit/8 0 0;
			}
		}
	}

}

@include media-query($on-palm) {
	section {

		h1, h2, h3, h4, h5, h6, p, ul {
			width: 90%;
		}

		h1 {
			font-size: 4.2em;
		}

		figure {
			overflow: hidden;
			width: 100%;
			padding: 0;
			&.linked {
				margin: $spacing-unit / 4 0 0;
			}
			a {
				width: 100%;
				img {
					margin: $spacing-unit 0 0 -50%;
					max-width: 200%;
					&.skinny {
						max-width: 90%;
						margin: $spacing-unit auto 0;
					}
					&.technical {
						max-width: 200%;
						margin-left: -10%;
					}
				}
			}
			img {
				margin: $spacing-unit 0 0;
				margin-left: -50%;
				max-width: 200%;
				&.skinny {
					max-width: 90%;
					margin: $spacing-unit auto 0;
				}
				&.technical {
					max-width: 200%;
					margin-left: -10%;
				}
				&.landing {
					max-width: 150%;
					margin-left: -20%;
				}
				&.normal, &.wallpaper {
					max-width: 100%;
					margin: 0;
				}
			}
			figcaption {
				margin-right: $spacing-unit / 2;
				margin-left: $spacing-unit / 2;
				p.design {
					width: 100%;
					margin: $spacing-unit / 2 auto 0;
				}
			}
			p {
				width: 100%;
				margin: $spacing-unit/2 0%;
			}
		}

		.feature {
			width: 100%;
		}

		.pull-left {
			float: none;
			width: 100%;
			margin: 0.5% 0 0 0;
		}

	}

	article {
		padding-top: 0;
		figure:first-of-type {
			margin-top: 0;
			margin-bottom: $spacing-unit;
			img {
				margin-top: 0;
			}
		}
		&.projects {
			padding-bottom: $spacing-unit;
			.title {
				width: 100%;
				margin: $spacing-unit 0 $spacing-unit;
				float: none;
			}
			.description {
				width: 100%;
				margin: $spacing-unit 0 $spacing-unit;
				float: none;
			}
			figcaption ul {
				border-top: $border-solid;
				border-bottom: $border-solid;
				margin: $spacing-unit/1.5 0;
				padding: $spacing-unit/4 0;
				width: 100%;
				li {
					margin: $spacing-unit/8 0 0;
					&:last-of-type {
						padding-bottom: $spacing-unit/4;
					}
				}
			}
			p {
				width: 100%;
				margin: $spacing-unit/2 0%;
			}
			figure:first-of-type {
				margin-top: 0;
				margin-bottom: $spacing-unit;
				img {
					margin-top: 0;
				}
			}
		}
	}
}


/****************************************************************************
 * Posts
 */

.inset-post {
	figure.tall {
		@include calc(width, "50% - (#{$spacing-unit} / 2)");
		float: left;
		padding: $spacing-unit*2 0;
		img {
			border: none;
			text-align: center;
			margin: 0 auto;
		}
		figcaption {
			text-align: center;
		}
	}
	div.tall {
		@include calc(width, "45% - (#{$spacing-unit} / 2)");
		padding: $spacing-unit*4 $spacing-unit*2 0 0;
		float:left;
		p, h1, h2, h3, h4, h6 {
			@include calc(width, "100%");
			margin-left: 0;
		}
	}
	figure.last {
		padding-bottom: $spacing-unit*3;
	}
}

@include media-query($on-palm) {
	.inset-post {
		figure:first-of-type {
			margin-top: 0;
			margin-bottom: $spacing-unit;
			img {
				margin-top: 0;
			}
		}
		figure.tall {
			@include calc(width, "100% - (#{$spacing-unit})");
			margin-left: $spacing-unit / 2;
		}
		div.tall {
			@include calc(width, "100% - (#{$spacing-unit})");
			margin-left: $spacing-unit / 2;
			padding: 0;
		}
	}

	.on-desktop {
		display: none;
	}

}

// Words

.words {
	h2, h3, h4, h5, h6, p, ul {
		width: 66%;
		margin-left: 0;
	}
}
